:root {
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;

  --color-yellow-400: #facc15;
  --color-yellow-600: #ca8a04;

  --color-zinc-100: #f4f4f5;
  --color-zinc-400: #a1a1aa;
  --color-zinc-700: #3f3f46;
  --color-zinc-900: #18181b;

  --colour-grey-light: hsl(0, 0%, 93.3%);
  --colour-pink-medium: hsl(318, 58.3%, 47.1%);
  --colour-blue-medium: hsl(202.3, 58.3%, 47.1%);

  --card-unit-height: 24px;
  --logo-radius: 32px;
  --event-unit-height: calc(1rem * 12);

  --background-color: var(--colour-grey-light);
  --body-color: var(--color-zinc-900);
  --body-size: 1.125rem;
  --header-size: 2.25rem;
  --link-color: var(--color-indigo-600);
  --title-color: var(--color-zinc-700);
  --logo-color: var(--color-indigo-900);
  --accent-color: var(--color-indigo-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-zinc-900);
    --link-color: var(--color-yellow-400);
    --body-color: var(--color-zinc-400);
    --title-color: var(--color-zinc-400);
    --logo-color: var(--color-yellow-600);
    --accent-color: var(--color-yellow-600);
  }
}

@media screen and (min-width: 62rem) {
  :root {
    /* --header-size: 4rem; */
  }
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/assets/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/assets/fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background: var(--background-color);
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Typography */
.title {
  color: var(--title-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  padding-inline: 0;
}

li {
  margin: 0;
}

p > code {
  overflow-wrap: break-word;
}

.site-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto 4rem;
  padding-inline: 1rem;
  max-width: 40rem;
}

.site-logo a {
  color: var(--logo-color);
  font-size: 1rem;
  font-weight: 600;
}

.site-nav {
  display: flex;
}

.site-nav__items {
  align-self: end;
  display: flex;
  gap: 1rem;
}

.site-nav a {
  font-size: 1.25rem;
}

.site-name {
  background: #070707;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  flex: 0;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 1rem;
}

.site-body {
  margin: 0 1rem;
}

.article {
  margin-bottom: 64px;
}

.post {
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.post + .post {
  margin-block-start: 4rem;
}

@media screen and (min-width: 62rem) {
  .post {
    display: grid;
    /* grid-template-areas: "breakout-start content breakout-end"; */
    grid-template-columns:
      1fr
      min(100%, 40rem)
      1fr;
  }

  .post > *:not(.post__header, .breakout) {
    grid-column: 2;
  }

  .post > .post__header {
    grid-column: 1/-1;
  }

  .post > .breakout {
    grid-column: 1/-1;
  }
}

.post__header {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block-end: 1rem;
  max-width: 80rem;
  text-align: center;
}

.post__title {
  color: var(--title-color);
  font-size: var(--header-size);
}

.post__date {
  color: var(--accent-color);
  font-size: var(--body-size);
}

.post :is(p, ul, ol) {
  color: var(--body-color);
  font-size: var(--body-size);
  margin-block: 0 1rem;
}

.post :is(ul, ol) {
  padding-inline-start: 2rem;
}

.charts {
  margin-inline: auto;
  width: min(100%, 84rem);
}

.charts__container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

.charts :is(ul, ol) {
  margin-block-end: 0;
  padding-inline-start: unset;
}

.charts > h2 {
  font-weight: 600;
  margin-block-start: 3rem;
  margin-block-end: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead th {
  border-bottom: 1px solid hsl(0, 0%, 2.7%);
  font-weight: 600;
}

table th,
table td {
  padding: .5rem 0;
  text-align: left;
  vertical-align: top;
}

.chart {
  --chart-color: var(--body-color);
  border: 2px solid var(--chart-color);
  border-radius: .5rem;
}

.chart__table {
  border-spacing: 0px;
}

.chart__table thead :is(th, td) {
  border-bottom-color: var(--chart-color);
  border-block-end-width: 2px;
  color: var(--chart-color);
  padding: 1rem;
}

.chart__table tbody :is(th, td) {
  color: var(--chart-color);
  line-height: 1;
  padding: .5rem 1rem;
}

.chart__cell--count {
  vertical-align: middle;
}

.chart__cell--end {
  text-align: end;
}

.chart img {
  aspect-ratio: 1;
  border-radius: .5rem;
  object-fit: cover;
  width: 4rem;
}

.artist {
  align-items: center;
  display: inline-flex;
  column-gap: 16px;
}

.chart-card {
  align-items: center;
  display: inline-flex;
  column-gap: 1rem;
}

.chart-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chart-card__artists {
  margin: 0;
}

.chart-card__artist {
  display: inline;
  font-size: 0.875rem;
  list-style: none;
}

.ellipsis-one-line {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  word-break: break-all;
}

.site-title {
  text-align: center;
}

.pagination {
  margin-inline: auto;
  padding-inline: 1.5rem;
  margin-block: 4rem;
  max-width: 62rem;
}

.pagination ul {
  border-top: 2px solid var(--body-color);
  margin: 0;
}

.pagination li {
  font-size: var(--body-size);
  list-style: none;
  margin-block: 1rem;
}

.pagination__label {
  color: var(--accent-color);
  font-weight: 600;
}

@media screen and (min-width: 62rem) {
  .pagination ul {
    display: grid;
    gap: 2rem;
    grid-template-areas: "previous next";
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2rem;
  }

  .pagination__next {
    grid-area: next;
    text-align: end;
  }
}
