---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="blog-home">
  {% set maxPosts = collections.posts.length | min(3) %}
  <h1>Blog</h1>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</div>
