---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="post">
  <header class="post__header">
    <time class="post__date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    <h1 class="post__title">{{ title }}</h1>
  </header>
  {{ content | safe }}
</article>
<section class="pagination">
  <ul>
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
    <li class="pagination__next">
      <div class="pagination__label">Next</div>
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    </li>
    {% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
    <li class="pagination__previous">
      <div class="pagination__label">Previous</div>
      <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    </li>
    {% endif %}
  </ul>
</section
